<ion-view title="Products">
    <ion-content class="has-header">
        <ion-nav-buttons side="right">

            <button class="button button-icon icon ion-ios7-search"></button>
        </ion-nav-buttons>

        <div class="list" >

            <a class="item item-thumbnail-left" ng-repeat="item in productdata" href="#">
                <img src="img/bread.jpg">
                <h2>{{item.item_desc}}</h2>
                <p>${{item.item_price}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>

