<div style="background-color:#1fa6c4;">
    <ion-view view-title="Categories">
        <ion-content>
            <div class="list">

                <a class="item item-thumbnail-left categorylist" href="#tab/products" ng-repeat="category in categorydata">
                    
                        <img src="{{category.image}}" class="shopimg">
                    
                    <div class="shoptext">
                        <h2>{{category.name}}</h2>
                    </div>
                </a>
            </div>
        </ion-content>
    </ion-view>

</div>


