<div style="background-color:#1fa6c4">
    <ion-view view-title="Login">
  <ion-content>
       <img src="img/pickndrop.png" class="loginlogo" >
 <div class="list list-inset login" >
  <label class="item item-input loginspace" >
    <input type="text" placeholder="User Name" >
  </label>
  <label class="item item-input loginspace">
    <input type="text" placeholder="Passowrd" >
  </label>
     <button class="buttoncolor button button-positive ">
  Login
</button>
     <button class="skip button button-clear button-positive">
  Skip
</button>
    
</div>
  </ion-content>
</ion-view>
    </div>
