<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<widget id="com.ionicframework.pickndrop692805" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>pickndrop</name>
    <description>
        Mobile App for PickNdrop.ca
    </description>
    <author email="contactabhay2@gmail.com" href="http://ionicframework.com/">
        Pixolo Productions
    </author><gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />

    <icon src="img/logo.png" />
    <gap:splash src="img/splash.png" />
    <content src="index.html"/>
    <access origin="*" />

    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>